// Define variables for your color scheme

// For example:
$red: #DB3A34;
$blue: #084C61;
$yellow: #F6AE2D;
$orange: #CA5310;
$green: #177E89;
$gray: #353531;
$light-gray: #EBEBE7;
$light-green: #DDF0E4;