// posts
.card-avatar-btn {
    margin: 10px;
    display: flex;
    align-items: center;
    border: 1px solid $green;
    border-radius: 5px;
    background-color: white;
    
    img {
        margin: 10px;
    }
    
    a {
        color: rgb( 150, 150, 150);
        font-size: 16px;
        line-height: 28px;
        cursor: text;
        flex-grow: 1;
    }
}
.cards-post {
    margin: 10px;
}

.card-post {
    width: 100%;
    margin: 10px 0;
    border: 1px solid $green;
    border-radius: 5px;
    background-color: white;
    display: flex;
    flex-direction: column;
}

.card-post-head {
    display: flex;
    align-items: center;
    position: relative;

    img {
        margin: 10px;
    }

    .btn-i {
        position: absolute;
        top: 8px;
        right: 10px;
    }

    i {
        color: $yellow;
    }

    .author {
        flex-grow: 1;

        h5 {
            font-size: 16px;
            margin-bottom: 0;
            color: $blue;
            font-weight: 700;
        }

        p {
            font-size: 12px;
            margin-bottom: 0;
            font-weight: 300;
        }
    }
}

.card-post-body {
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    p {
        margin: 15px;
        white-space: pre-wrap;
    }
}

.card-post-status {
    display: flex;
    justify-content: flex-end;
    font-size: 12px;
    margin: 15px 20px 0 0;

    p {
        margin: 0;
    }
}

.card-post-btns {
    display: flex;
    justify-content: space-evenly;
    align-items: center;;
    margin: 10px 10px 0 10px;
    border-top: 1px solid $green;
    a {
        margin: 4px;
        padding: 6px;
        font-size: 12px;
        font-weight: 700;
        color: grey;
        text-align: center;
        flex-grow: 1;
    }

    a:hover {
        background-color: rgba(240, 240, 240, 0.8);
    }

    .btn-on {
        color: $yellow;
    }
}

// forms
.card-form {
    background-color: white;
    padding: 10px;
    width: 100%;
    height: 100%;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 80px;
        object-fit: cover;
    }

    h1 {
        font-size: 24px;
        font-weight: 400;
        padding-top: 4px;
    }
    
    p {
        font-size: 16px;
        font-weight: 400;
        padding-top: 8px;
    }
}

.card-form-inputs {
    width: 300px;
    margin-top: 12px;
}

.form-note {
    p {
        font-size: 12px;
        margin: 0;
    }
}

// general
.card-text-btn {
    border-radius: 5px;
    border: 1px solid $green;
    background-color: white;
    padding: 20px;
    margin: 10px;
    
    h3 {
        font-size: 24px;
    }
    
    p {
        font-size: 12px;
    }
}

// spaces
.cards-space {
    display: flex;
    // justify-content: space-around;
    flex-wrap: wrap;

}

.card-space {
    text-align: center;
    border: 1px solid $green;
    background-color: white;
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
    
    .icon {
        font-size: 48px;
    }
    .h4 {
        font-size: 36px;
        font-weight: 600;
    }
    .p {
    }
}

@media (min-width: 600px) {
  /* For a screen < 720px, this CSS will be read */
  .card-form {
    width: 450px;
    height: auto;
    border: 1px solid $green;
    border-radius: 5px;

  }
  .card-space {
    width: 280px;
  }
  
}