// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// Debugger classes
.border-red {
    border: 1px solid red;
}

.border-blue {
    border: 1px solid blue;
}

// Wrapper & Container
.page-container {
    width: 100%;
    margin: 0 auto;
}

@media (min-width: 600px) {
  /* For a screen < 720px, this CSS will be read */
  .page-container {
      width: 600px
  }
}
// @media (min-width: 992px) {
//   /* For a screen < 540px, this CSS will be read */
// .page-container {
//       width: 700px
//   }
// }